* {
  font-family: "Space Mono", monospace;
}

html {
  background-color: #fefbf5;
}

/* ol {
  height: 200px;
  width: 300px;
  overflow: scroll;
  background-color: white;
  margin-top: 0px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;

  -webkit-overflow-scrolling: touch;
} */
